@font-face {
	font-family: Lato;
	src: url('font-lato/lato-regular-webfont.woff2') format('woff2'),
			 url('font-lato/lato-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: Lato;
	src: url('font-lato/lato-bold-webfont.woff2') format('woff2'),
			 url('font-lato/lato-bold-webfont.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: Lato;
	src: url('font-lato/lato-italic-webfont.woff2') format('woff2'),
			 url('font-lato/lato-italic-webfont.woff') format('woff');
	font-style: italic;
}

@font-face {
	font-family: Lato;
	src: url('font-lato/lato-bolditalic-webfont.woff2') format('woff2'),
			 url('font-lato/lato-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}